<!DOCTYPE html>
<html>
<head>
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/Content/bower_components/morris.js/morris.css">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i> <span>ระบบแจ้งปัญหา</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="@Url.Action("Index", "IncStatus")"><i class="fa fa-pencil"></i> <span>ลงทะเบียนการซ่อม</span></a></li>
                    <li><a href="@Url.Action("Index", "Allinc")"><i class="fa fa-info"></i><span>ติดตามปัญหาการซ่อม</span></a></li>
                </ul>
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i> <span>ระบบคำร้องขอ</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="@Url.Action("Index", "ReqAFRegister")"><i class="fa fa-pencil"></i> <span>ลงทะเบียนการร้องขอสิทธิ AFESCO</span></a></li>
                    <li><a href="@Url.Action("FollowAF", "ReqAFRegister")"><i class="fa fa-info"></i><span>ติดตามการร้องขอสิทธิ AFESCO</span></a></li>
                </ul>
            </li>


        </ul>
    </section>
    </head>
</html>